div#stream-annotator-tool-slider {
	display: block;
	width: calc(100% - 35px);
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#stream-annotator-tool-range {
	height: 30px;
	position: relative;
}

div#stream-annotator-tool-range-arrow {
	visibility: hidden;
	cursor: pointer;
	position: absolute;
	top: 5px;
	width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid;
	border-bottom-color: red;
}

canvas#stream-annotator-tool-labels {
	display: block;
	width: calc(100% - 35px);
	margin: 0 auto;
	height: 20px;
	background-color: #313131;
}

div#stream-annotator-labels-div {
	width: 100%;
	text-align: center;
	height: 45px;
}

a.stream-annotator-label {
	display: inline-block;
	font-family: Arial, Sans-serif;
	font-weight: bold;
	padding: 15px;
	margin: 15px;
	border: 2px solid black;
	border-radius: 4px;
	cursor: pointer;
}

span.stream-annotator-hidden {
	display: none;
}
